{% extends "base.html" %}

{% block topblock %}
<div class="top-banner" >
  <div class="container">
    <h1>Welcome</h1>
    <p class="lead">{{line}}</p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-9">
  {% for article in articles %}
    {% include "lectern/blocks/article-summary.html" with article=article %}
  {% empty %}
    <h2>No articles to display</h2>
    <p>No articles have been published yet...</p>
  {% endfor %}
  </div>
</div>
{% endblock %}
