{% extends "base_centered.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Welcome</h1>

<div class="row">
  <div class="col-xs-6">
    <div class="well">
      {% crispy form %}
    </div>
   </div>
   <div class="col-xs-6">
    <p class="lead">Register now for free</p>
    <ul class="list-unstyled" style="line-height: 2em">
      <li><i class="fa fa-pencil"></i> Write and publish articles</li>
      <li><i class="fa fa-user"></i> Single sign on for our services</li>
      <li><i class="fa fa-tachometer"></i> Access to overviews and dashboards</li>
      <li><a href="{% url 'gatekeeper:read-more' %}">read more</a></li>
    </ul>
    <p><a class="btn btn-info btn-block" href="{% url 'gatekeeper:register' %}">Yes please, register now!</a></p>
  </div>
</div>
{% endblock %}
