{% extends "base_centered.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Signup</h1>

<div class="row">
  <div class="col-xs-6">
      {% crispy form %}
   </div>
   <div class="col-xs-6">
    <h2>account conditions</h2>
    
    <ul class="list" style="line-height: 2em">
      <li>Be courteous to other site users</li>
      <li>Don't use our resources for illegal activity</li>
      <li>Accounts are to be used by 1 person only</li>
      <li>tell us if something blows up</li>
    </ul>
   <a href="/legal/tos/">Read full terms of service</a>
  </div>
</div>
{% endblock %}
