body {
	padding-top: 70px;
}

.abstract {
    width: 95%;
    font-style: oblique;
}

/* Navbar login stuff (http://bootsnipp.com/snippets/featured/account-in-navbar) */
.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

.page-header{
	margin-top: 0;
}

.page-footer{
	margin-top: 40px;
	padding: 40px 0px;
	text-align: center;
	background-color: #F9F9F9;
	color: #999;
	border-top: 1px solid #E5E5E5;
}
