{% extends "base_multicol.html" %}

{% load i18n %}
{% load markdown_deux_tags %}

{% block title %}{{object.title}}{% endblock title %}

{% block extra_js %}
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
{% endblock %}

{% block content %}
<article>
  <header class="page-header">
    <h1>{{object.title}}</h1>
    <p class="byline">Written on {{object.created}} in <a href="{{object.category.get_absolute_url}}">{{object.category}}</a> {% if object.modified %}(last modified {{object.modified}}){% endif %}</p>
  </header>

{% if object.abstract %}
<!-- begin abstract -->
<section class="abstract">
  <h2>{% trans "abstract" %}</h2>
  {{object.abstract}}
</section>
<!-- end abstract -->
{% endif %}

<section>
{{object.body|markdown}}
</section>

<footer>
  {% include "parts/author_bio.html" with author=user %}
  <hr />
  <small>
    This article is released under the <a href="#">Creative Commons attribution share-alike 3.0 licence</a>.
  </small>
</footer>

{% if object.relatedlink_set.all %}
<h2>{% trans "related links" %}</h2>
<ul>
 {% for related in object.relatedlink_set.all %}
   <li><a href="{{related.url}}">{{related.title}}</a></li>
 {% endfor %}
</ul>
</article>
{% endif %}
{% endblock %}

{% block rightbar %}
<div class="panel-body">
  <ul class="nav nav-pills nav-stacked">
    {% if perms.lectern.article_edit %}<li><a href="{% url 'lectern:edit' category=object.category.slug slug=object.slug %}"><i class="fa fa-pencil"></i> Edit</a></li>{% endif %}
    <li><a href="{% url 'lectern:raw' category=object.category.slug slug=object.slug %}"><i class="fa fa-code"></i> View source</a></li>
  </ul>
</div>
{% endblock %}
