{% extends "base_centered.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}{% blocktrans %}Editing {{ object }}{% endblocktrans %}{% else %}{% trans "Write new article" %}{% endif %}{% endblock title %}

{% block page-scripts %}
<script src="{{STATIC_URL}}/js/slugify/jquery.slugify.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}/markdown/js/bootstrap-markdown.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}/markdown/css/bootstrap-markdown.min.css" type="text/css"></link>

<script type"text/javascript">
$(document).ready(function(){
	$('#id_slug').slugify('#id_title');
	$('#id_body').markdown({
		iconlibrary: 'fa',
		disabledButtons: ['Preview'],
		onPreview: function(e) {return e.getContent();} //TODO replace with AJAX call
	});
});
</script>
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}
