{% extends "lectern/base_multicol.html" %}
{% load i18n themetools %}

{% block title %}{{ selected.title|default:"All articles" }}{% endblock %}

{% block leftbar %}
<h2 class="sr-only">Categories</h2>
<div class="list-group">
    <a class="list-group-item {% if not selected %}active{% endif %}" href="{% url "lectern:index" %}">All articles</a>
    {% for category in categories %}
    <a class="list-group-item {% if selected.slug == category.slug %}active{% endif %}"  href="{% url "lectern:category" category.slug %}">{{category}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block rightbar %}
<h2 class="sr-only">Actions</h2>
<ul class="nav nav-list">
    {% if perms.lectern.article_add %}
    <li><a href="{% url "lectern:add" %}">{% fa_icon 'plus' %} Write an article</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<h1 class="sr-only">{% trans "our articles" %}</h1>
{% if selected %}
<div class="page-header">
  <h1>{{selected}}</h1>
  {% if selected.abstract %}<p class="lead">{{selected.abstract}}</p>{% endif %}
</div>
{% else %}
<div class="page-header">
  <h1>Articles</h1>
  <p class="lead">This section of our website contains articles contributed by our members.</p>
</div>
{% endif %}

{% for article in object_list %}
  {% include "lectern/blocks/article-summary.html" with article=article %}
{% endfor %}

{% include "themetools/blocks/pager.html" %}
{% endblock content %}
