{% extends "lectern/base_multicol.html" %}

{% load i18n staticfiles %}
{% load uc-bootstrap3 %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block title %}
  {% if object %}
    {% blocktrans %}Editing {{ object }}{% endblocktrans %}
  {% else %}
    {% trans "Write new article" %}
  {% endif %}
{% endblock title %}

{% block page-assets %}
<link type="text/css" href="{% static 'bootstrap-markdown/css/bootstrap-markdown.min.css' %}" rel="stylesheet"></link>
{% endblock %}


{% block page-scripts %}
<script type="text/javascript" src="{% static 'speakingurl/speakingurl.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-slugify/dist/slugify.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-markdown/js/bootstrap-markdown.js' %}"></script>

<script type"text/javascript">
jQuery(function($){
	$('#id_slug').slugify('#id_title');
	$('#id_body').markdown({
		iconlibrary: 'fa',
		onPreview: doPreview
	});
});
</script>
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}
