{% extends "base.html" %}

{% load i18n %}
{% load md2 %}

{% block content %}

<article>
<h1>{{object.title}}</h1>

{% if object.abstract %}
<section class="abstract">
<h2>{% trans "abstract" %}</h2>
{{object.abstract}}
</section>
{% endif %}

<section>
{{object.body|markdown:"safe, code-friendly, fenced-code-blocks"}}
</section>

<h2>{% trans "related links" %}</h2>
<ul>
 {% for related in object.relatedlink_set.all %}
   <li><a href="{{related.url}}">{{related.title}}</a></li>
 {% endfor %}
</ul>
</article>
{% endblock %}
