{% extends "base_multicol.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{ selected.title|default:"All articles" }}{% endblock %}

{% block leftbar %}
<h2 class="sr-only">Categories</h2>
<div class="list-group">
    <a class="list-group-item {% if not selected %}active{% endif %}" href="{% url "lectern:index" %}">All articles</a>
    {% for category in categories %}
    <a class="list-group-item {% if selected.slug == category.slug %}active{% endif %}"  href="{% url "lectern:category" category.slug %}">{{category}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block rightbar %}
<h2 class="sr-only">Actions</h2>
<ul class="nav nav-pills nav-stacked">
    {% if perms.lectern.article_add %}
    <li><a href="{% url "lectern:add" %}"><i class="fa fa-plus" aria-hidden="true"></i> Write an article</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<h1 class="sr-only">{% trans "our articles" %}</h1>
{% if selected %}
<div class="page-header">
  <h1>{{selected}}</h1>
  {% if selected.abstract %}<p class="lead">{{selected.abstract}}</p>{% endif %}
</div>
{% endif %}

{% for article in object_list %}
  <article>
    <h1><a href="{{article.get_absolute_url}}">{{article}}</a></h1>
    <p><i class="fa fa-calendar"></i> {{article.created}}</p>
    <p>{{article.abstract}}</p>
    <hr />
  </article>
{% endfor %}
{% endblock content %}
