{% extends "base_centered.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}{% blocktrans %}Editing {{ object }}{% endblocktrans %}{% else %}{% trans "Write new article" %}{% endif %}{% endblock title %}

{% block page-scripts %}
<script src="{{STATIC_URL}}/js/slugify/jquery.slugify.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}/markdown/js/bootstrap-markdown.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}/markdown/css/bootstrap-markdown.min.css" type="text/css"></link>

<script type"text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function doPreview(e){
	var previewUrl = "/api/articles/preview/";
	var retVal = "";
	var csrftoken = getCookie('csrftoken');
	var params = {'body': e.getContent(), 'csrfmiddlewaretoken':csrftoken}

	jQuery.ajax({
		url: previewUrl,
		data: params,
		success: function(html) {
			retVal = html;
		},
		method: 'POST',
    		async:false
  	});

	return retVal.markdown;
}

$(document).ready(function(){
	$('#id_slug').slugify('#id_title');
	$('#id_body').markdown({
		iconlibrary: 'fa',
		onPreview: doPreview
	});
});
</script>
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}
