{% extends "base_multicol.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block leftbar %}
<h2 class="muted">Categories</h2>
<ul class="nav nav-pills nav-stacked">
    <li {% if not selected %}class="active"{% endif %}><a href="{% url "lectern:index" %}">All articles</a></li>
    {% for category in categories %}
    <li {% if selected == category.slug %}class="active"{% endif %}><a href="{% url "lectern:category" category.slug %}">{{category}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block rightbar %}
<h2 class="sr-only">Actions</h2>
<ul class="nav nav-pills nav-stacked">
    {% if perms.lectern.article_add %}
    <li><a href="{% url "lectern:add" %}"><i class="fa fa-plus" aria-hidden="true"></i> Write an article</a></li>
    {% endif %}
    <li><a href="{% url "lectern:request" %}"><i class="fa fa-question" aria-hidden="true"></i> Request an article</a></li>
    <li><a href="{% url "lectern:request-list" %}"><i class="fa fa-tasks" aria-hidden="true"></i> View Requests</a></li>
</ul>
{% endblock %}

{% block content %}
<h1 class="sr-only">{% trans "our articles" %}</h1>

{% for article in object_list %}
  <article>
    <h1><a href="{{article.get_absolute_url}}">{{article}}</a></h1>
    <p>{{article.abstract}}</p>
  </article>
{% endfor %}
{% endblock content %}
