{% load staticfiles i18n %}
<!doctype html>
<html>
  <head>
    <title>{% if site %}{{ site }} :: {% endif %}{% block title %}{% trans "welcome to the website" %}{% endblock title %}</title>
    {% block meta_tags %}{% endblock meta_tags %}

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/pygments-github.css" %}">
    <link rel="stylesheet" href="{% static "css/unitycoders-theme.css" %}">
    {% block extra_head %}
      {% block page-assets %}{% endblock page-assets %}
    {% endblock %}
  </head>
  <body>
    {% include "blocks/navbar.html" %}

    {% block topblock %}
    {% endblock %}

    <div class="container">
      {% block container %}
        {% block content %}{% endblock %}
      {% endblock %}
    </div>
    <footer class="page-footer">
      <p>{% include "blocks/copyright.html" %}</p>
      <ul class="list-inline">
        <li><a href="https://github.com/unitycoders/uc-django-site">Source</a></li>
      </ul>
    </footer>
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/website.js' %}"></script>
    {% block extra_js %}{% block page-scripts %}{% endblock page-scripts %}{% endblock extra_js %}
  </body>
</html>
