{% extends "base.html" %}

{% load gravatar %}

{% block content %}
<div class="page-header" style="margin-top: 0em">
  <h1 style="margin-top: 0em;">{{object}}</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <div>
      <img src="{{object.email|gravatar}}?size=200" alt="gravatar" />
      <ul class="nav nav-pills nav-stacked">
        <li><a href="https://github.com/{{object.username}}/"><span class="fa fa-github"></span> Github</a></li>
      </ul>
    </div>
    {% if user.is_authenticated %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Contact Details</h2>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><span class="fa fa-envelope-o" title="Email"></span> <a href="mailto:{{object.email}}">{{object.email}}</a></li>
	  <li><span class="fa fa-users" title="xmpp"></span> <a href="xmpp:{{object.email}}">{{object.email}}</a></li>
          <li>IRC {{object.username}}</li>
       </ul>
     </div>
   </div>{% endif %}
  </div>
  <div class="col-md-8">

<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#overview" aria-controls="home" role="tab" data-toggle="tab">Overview</a></li>
    <li role="presentation"><a href="#account" aria-controls="home" role="tab" data-toggle="tab">Account</a></li>
  </ul>

  <div class="tab-content panel-body">
    <div role="tabpanel" class="tab-pane active" id="overview">
      {{ object.bio }}
    </div>
    <div class="tab-pane" id="account">
      {% if object.is_staff %}<div class="alert alert-info">user is website admin</div>{% endif %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Account Privilages</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Privlage</th>
              <th>Description</td>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th>IRC Operator</th>
              <td>Operator on the Freenode IRC channel</td>
              <td>Active</td>
            </tr>
            <tr>
              <th>XMPP account</th>
              <td>An @unitycoders.co.uk XMPP address</td>
              <td>Active</td>
            </tr>
            <tr>
              <th>Minecraft server</th>
              <td>Operator on Dinglebeard</td>
              <td>Active</td>
            </tr>
            </tbody>
        </div>
      </div>

    </div>
  </div>

        </div>
      </div>
</div>
{% endblock %}
